<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626938938428-sg29kfb651p5482pne8uiga1ih4hnjhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626938938428-sg29kfb651p5482pne8uiga1ih4hnjhd</string>
	<key>API_KEY</key>
	<string>AIzaSyCK8ssOQByHsRtWptfoPlkht1s9gLVeDEs</string>
	<key>GCM_SENDER_ID</key>
	<string>626938938428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNAuth</string>
	<key>PROJECT_ID</key>
	<string>ourauthredux</string>
	<key>STORAGE_BUCKET</key>
	<string>ourauthredux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626938938428:ios:e86c7753720bfec6</string>
	<key>DATABASE_URL</key>
	<string>https://ourauthredux.firebaseio.com</string>
</dict>
</plist>